body {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

/**Header**/
#header-nav {
    background-color: #696969;
    border-radius: 0;
    border: 0;
}


.navbar-brand h1 { /* Resturant Name */
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a {
    text-decoration: none;
}

h2 {
    background-color: #696969;
    color: #000;
    border-style: solid;
    margin-top: 5px;
}

#Navibar ul {
    text-align: right;
    text-transform: uppercase;
}